<div class="container-fluid container1">


    <div class="col-sm-1 sidenav padding">
        <li>Profile</li>
        <li>Photos</li>
        <li>Team</li>
        <li>Tournaments</li>
        <li>Statistics</li>
        </div>
    <%= @user.name %>
    <%= link_to "Sign Out", session_path, method: :delete %>

</div>

