<div class="container-fluid container1">




    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     Welcome, <%= @user.name %><br>
    <%= link_to "Sign Out", session_path, method: :delete %>

</div>
