
<div class="container-fluid container1">
<nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#logo">
                    <%= image_tag('logo1.png')%>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#logo">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                     <li>
                        <a href="#contact">Pricing</a>
                    </li>
                </ul>

                <!-- Dropdown Login Form -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="menuLogin">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Sign Up<b class="caret"></b></a>
                            <div id="loginbox" style="margin-top:10px; width:300px;" class="dropdown-menu mainbox">
                                <div id="loginbox" class="panel panel-info dropdown-menu mainbox" style="margin-top:10px; width:300px;">
                                    <div class="panel-heading">
                                        <div class="panel-title">Sign In</div>
                                        <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                                    </div>
                                    <div style="padding-top:30px" class="panel-body" >
                                        <div style="display:none" id="login-alert" class="alert alert-danger"></div>
                                        <form id="loginform" class="form-horizontal" role="form">

                                           <!-- Username/Email -->
                                            <div style="margin-bottom: 25px" class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">
                                            </div>

                                            <!-- Password -->
                                            <div style="margin-bottom: 25px" class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
                                            </div>

                                            <!-- Remember Me -->
                                            <div class="input-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input id="login-remember" type="checkbox" name="remember" value=""> Remember me
                                                    </label>
                                                </div>
                                            </div>

                                            <!-- Login Buttons -->
                                            <div style="margin-top:10px" class="form-group">
                                                <div class="controls">
                                                    <a id="btn-login" href="#" class="btn btn-success">Login  </a>
                                                    <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
                                                </div>
                                            </div>

                                            <!-- Sign Up Here -->
                                            <div class="form-group">
                                                <div class="control">
                                                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                                        Don't have an account!
                                                    <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">Sign Up Here</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Sign up Box-->
                            <div style="display:none; margin-top:50px">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="panel-title">Sign Up</div>
                                        <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                                    </div>
                                    <div class="panel-body" >
                                        <form id="signupform" class="form-horizontal" role="form">
                                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                                <p>Error:</p>
                                                <span></span>
                                            </div>

                                            <!-- Email -->
                                            <div class="form-group">
                                                <label for="email" class="control-label">Email</label>
                                                <div>
                                                    <input type="text" class="form-control" name="email" placeholder="Email Address">
                                                </div>
                                            </div>

                                            <!-- First Name -->
                                            <div class="form-group">
                                                <label for="firstname" class="control-label">First Name</label>
                                                <div>
                                                    <input type="text" class="form-control" name="firstname" placeholder="First Name">
                                                </div>
                                            </div>

                                            <!-- Last Name -->
                                            <div class="form-group">
                                                <label for="lastname" class="control-label">Last Name</label>
                                                <div>
                                                    <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                                                </div>
                                            </div>

                                            <!-- Password -->
                                            <div class="form-group">
                                                <label for="password" class="control-label">Password</label>
                                                <div>
                                                    <input type="password" class="form-control" name="passwd" placeholder="Password">
                                                </div>
                                            </div>

                                            <!-- Invite Code -->
                                            <div class="form-group">
                                                <label for="icode" class="control-label">Invitation Code</label>
                                                <div>
                                                    <input type="text" class="form-control" name="icode" placeholder="">
                                                </div>
                                            </div>

                                            <!-- Sign Up -->
                                            <div class="form-group">
                                                <div>
                                                    <button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                                    <span style="margin-left:8px;">or</span>
                                                </div>
                                            </div>
                                            <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                                                <div>
                                                    <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </li>
                    <li>
                        <button class="btn btn-default"><a class="poweron" href="#signup">Power On</a></button>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>


    <!-- This is the start of the First Section / Above the Fold -->

    <div class="jumbotron" id="logo">
        <img class="main-logo" alt="Logo" src="/assets/logo.png">

        <div><h1>Turn <span class="red">On</span> your<br> competitive side</h1></div>
        <br>
        <a href="#about"><div class="scrollindicator" >
            <img class="scroller" alt="Arrow down" src="/assets/arrow_down.png">
            </div></a>
        <br>
        <br>
        <br>
        <br>
    </div>
    </div>
<div class="texture"></div>
    <!-- Golf Background Image -->
<div class="container-fluid container2"></div>

    <!-- Start of Bracket Section -->
<div class="container-fluid container3" ><div id="about" class="jumbotron bracketh1"><span class="bracket hidden-xs" ><%= image_tag('bracket.png')%></span>
    <h1>Create and manage your own tournaments!</h1></div></div>
<div class="texture"></div>
    <!-- Football Background Image -->
<div class="container-fluid container4"></div>

    <!-- Start of Notifications Section -->
<div class="container-fluid container3">
<div class="col-md-6 notifications">
    <h1>Notifications</h1>
    <ul>
        <li><h3>Learn about events around you based on your profile and interests</h3></li>
        <li><h3>Invite friends to join your "Team"</h3></li>
        <li><h3>Challenge other teams in you area</h3></li>
        <li><h3>Google Maps integration for tournament / challenge locations</h3></li>

    </ul>


</div>

    <!-- Google Calender -->

    <div class="col-md-6 iframe  hidden-sm hidden-xs">
    <%= image_tag('googlemap.png')%>
    </div>
</div>
   <div class="texture"></div>
    <!-- Baseball Background Image -->
<div class="container-fluid container5"></div>

    <!-- User Team Profile Page Section -->
<div class="container-fluid container3">
<div class="col-md-8 profile"><span class=""><%=image_tag('profile.png', width: '98%')%></span></div>
    <div class="col-md-4 profile"><h1 class="profileh1">User / Team Profiles</h1>
    <ul class="hidden-sm hidden-xs">
        <li><h3>Default banners based on your interests</h3></li>
        <li><h3>Keep track of your records / statistics</h3></li>
        <li><h3>Add Photo and Video</h3></li>
        <li><h3>Add Friends (Team) / Rivals</h3></li>
    </ul>
    </div>
</div>
<div class="texture"></div>
    <!-- Soccer Background Image -->
<div class="container-fluid container6"></div>

    <!-- Join the team / Sign Up / Sign In Page -->
<div class="container-fluid container3" >
    <div class="col-md-12"><h1 class="teamh1">Join the team!</h1></div>
<div class="col-md-6" ><br><h1 class="signuph1">Sign In</h1>
    <h3 id="signup">Jump into the competition</h3>
    <br>
    <br>

    <!-- Email Address Input -->
    <div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-envelope"></span>
  </span>
  <input class="form-control" type="text" placeholder="Email address">
</div>

    <br>
    <br>

    <!-- Password Input -->
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-lock"></span>
  </span>
  <input class="form-control" type="password" placeholder="Password">
</div>
    <br>
    <br>

    <!-- Sign In Button -->
      <button type="submit" class="sign-in-button">Sign In Now</button>
    </div>

<div class="col-md-6 hidden-sm hidden-xs"><br><h1 class="signuph1">Sign Up</h1>
    <h4 class="signuph4">Connect with your friends and learn about<br> competitions in your area!</h4>
    <br>
    <br>

    <!-- Email Address Input -->
    <div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-envelope"></span>
  </span>
  <input class="form-control" type="text" placeholder="Email address">
</div>
    <br>
    <br>

    <!-- Password Input -->
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-lock"></span>
  </span>
  <input class="form-control" type="password" placeholder="Password">
</div>
    <br>
    <br>

    <!-- Sign Up Button -->
      <button type="submit" class="sign-in-button">Sign Up Now</button>
    </div>
</div>
<div class="texture"></div>
    <!-- MLG Background Image -->
 <div class="container-fluid container7"></div>

    <!-- Contact Section -->
<div class="container-fluid container3" >
<div class="col-md-12">
    <h1 class="contacth1" id="contact">Let's Keep in Touch!</h1>
    <h4 class="contacth4" >Thank you for visiting Power Brackets! We hope you found exactly what you were looking for! If you have any questions or comments please feel free to add them in the form below. We look forwarding to improving with each of your suggestions!</h4></div>

    <div class="col-md-6">


        <!-- Name Input -->
    <div class="input-group input-group-lg name">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-user"></span>
  </span>
  <input class="form-control name" type="text" placeholder="Name">
</div>


    <!-- Email Address Input -->
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-envelope"></span>
  </span>
  <input class="form-control email" type="text" placeholder="Email address">
</div>

    <!-- Subject Input -->
        <div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-question-sign"></span>
  </span>
  <input class="form-control subject" type="text" placeholder="Subject">
</div>

    <!-- Comments Input -->
    <div class="input-group input-group-lg">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-pencil"></span>
  </span>
  <textarea style="height:150px; width:100%" class="form-control textarea" type="text" placeholder="Comments"></textarea>
</div>

    <!-- Send Message Button -->
      <button type="submit" class="sign-in-button">Send Message</button>

</div>

    <!-- Contact Info -->
    <div class="col-md-6 hidden-sm hidden-xs">
    <h1 class="contacth1">Contact Info</h1>
     <strong><span style="font-size:20px; margin-right:5px;" class="glyphicon glyphicon-envelope"></span></strong>
        somethingsomething@something.com
        <br>
        <br>
        <strong><span style="font-size:20px; margin-right:5px;" class="glyphicon glyphicon-picture"></span></strong>
        1234 W 1789 N St. George Utah 84770
        <br>
        <br>
        <strong><span style="font-size:20px; margin-right:5px;" class="glyphicon glyphicon-phone"></span></strong>
        123-456-7890
    </div>

    </div>
    <div class="texture"></div>
    <div class="container-fluid container8"></div>
<div class="container-fluid container3" >
    <br>
    <br>
        <h1 class="contacth1 col-md-12" >Pricing</h1>
    <div class="col-md-4 pricing" id="pricing">
    <h1>Free</h1></div>
     <div class="col-md-4 pricing"><h1>Basic</h1></div>
     <div class="col-md-4 pricing"><h1>Pro</h1></div>
<table class="table table-striped col-xl-6">
<tr>
    <thead>
        <td></td>
    <td>
        Free
    </td>
    <td>Basic
   </td>
    <td>Pro

        </td>
        </thead>
</tr>

    <tr>
        <td>Add Friends</td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>
    <tr>
        <td>Accept Challenges</td>
         <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>
    <tr>
        <td>Create Tournaments</td>
        <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>
    <tr>
    <td>Track Your Statistics</td>
        <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>
    <tr>
        <td>Additional Money Games</td>
        <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        <td><span style="color:red;" class="glyphicon glyphicon-remove"></span></td>
        <td><span style="color:green;" class="glyphicon glyphicon-ok"></span></td>
    </tr>


</table>
        </div>


















