<!DOCTYPE html>
<html>
<head>
  <title>PowerBrackets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->

</head>
 

<%= yield %>

  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<body>
</body>
</html>
